.header {
  height: 90px;
  display: block;
}

.result {
  min-height: 512px;
}

.sidebar {
  color: #ffffff;
}

.well {
    background-color:  rgb(238, 238, 238);
}

/* .footer { */
/*   background-color:  rgb(238, 238, 238); */
/*   height: 200px; */
/*   width: 100%; */
/*   bottom: 0; */
/*   position: absolute; */
/* } */

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.help {
  float: right;
  padding: 0 18px;
  line-height: 34px;
  text-decoration: none;
  font-size: 13px;
  display: inline;
}

ul {
  padding: 0;
  margin: 0 0 9px 25px;
  list-style: none;
}

.optional li {
  line-height: 18px;
}

a.result-item { 
  text-decoration: none;
  color: inherit;
}

.signature {
  font-size: 13px;
  color: inherit;
}

.description, .author, .module {
  font-size: 11px;
  color: gray;
}

h3 {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* [class^="icon-"], */
/* [class*=" icon-"] { */
/*   display: inline-block; */
/*   width: 14px; */
/*   height: 14px; */
/*   padding-left: 3px; */
/*   *margin-right: .3em; */
/*   line-height: 14px; */
/*   vertical-align: text-top; */
/*   background-image: url("glyphicons-halflings.png"); */
/*   background-position: 14px 14px; */
/*   background-repeat: no-repeat; */
/* } */

.icon-leaf {
    background-position: -48px -120px;
    background-image: url("glyphicons-halflings.png");
}

#title {
    float: left;
    margin-right: 25px;
}

#query {
    margin: 40px 0px 0px 25px;
    width: 75%;
    float: left;
}

#query-input {
    max-height: 150px;
    overflow-y: auto;
}
/* 
  Typeahead-related css formations:
    source: https://twitter.github.io/typeahead.js/examples/
 */

.twitter-typeahead {
    width: 75%;
    float: left;
    margin-right: 50px;
    margin-bottom: 15px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  padding: 2px 4px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
          outline: none;
}

input[type="text"].tt-hint,
input[type="text"].tt-input {
    border: 2px solid #ccc;
}

input[type="text"].tt-hint:focus,
input[type="text"].tt-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #0097cf;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}